@model IEnumerable<Hospital>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var hospital in Model)
            {

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://images.vexels.com/media/users/3/208879/isolated/preview/c005fb97ec133a7cc8515e04c96ffa8f-hospital-simple-building.png" width="225" height="100%" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Hastane adı: @hospital.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Hospital" asp-action="Edit" asp-route-id="@hospital.Id" class="btn btn-sm btn-outline-secondary">Güncelle</a>
                                    <a type="btn btn-success" asp-controller="Hospital" asp-action="Delete" asp-route-id="@hospital.Id" class="btn btn-sm btn-outline-secondary">Sil</a> 
                                </div>
                                <small class="text-muted">Polikinlik adı</small>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
