<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Hoş Geldiniz!</h1>
            <p class="lead">
                Hastane Randevu Sistemi'ne hoş geldiniz. Bu platform üzerinden kolayca randevularınızı planlayabilir ve takip edebilirsiniz.
            </p>
            <img src="https://www.riomed.com/wp-content/uploads/2021/11/blogpost.jpg" class="img-fluid mt-4" alt="Hastane Resmi" />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 text-center">
            <img src="https://img.freepik.com/free-vector/physical-pain-injury-flat-composition-with-human-characters-suffering-patient-doctor-inside-smartphone-vector-illustration_1284-80339.jpg?size=626&ext=jpg&ga=GA1.1.2030000114.1701434955&semt=ais" class="img-fluid mt-4" alt="Hastane Resmi" />
            <p class="mt-3">
                Sistemi kullanmak için lütfen giriş yapın veya kayıt olun.
            </p>
            <div class="d-flex justify-content-between mt-4">
                <a href="/Citizen/Login" class="btn btn-primary">Giriş Yap</a>
                <a href="/Citizen/Register" class="btn btn-primary">Kayıt Ol</a>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <img src="https://assets.materialup.com/uploads/e053a98a-da47-4147-8450-e86b57429f84/preview.jpg" class="img-fluid mt-4" alt="" />
            <p class="mt-4">
                Hastanenizi ve doktorunuzu seçip hemen randevunuzu oluşturabilirsiniz.
            </p>
            <a href="/Appointment" class="btn btn-primary">Randevu Oluştur</a>
        </div>
    </div>
</div>
