@model IEnumerable<Clinic>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var clinic in Model)
            {

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/003/182/442/original/medical-clinic-web-illustration-vector.jpg" width="225" height="100%" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Klinik adı: @clinic.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Clinic" asp-action="Edit" asp-route-id="@clinic.Id" class="btn btn-sm btn-outline-secondary">Düzenle</a>
                                    <a type="btn btn-success" asp-controller="Clinic" asp-action="Delete" asp-route-id="@clinic.Id" class="btn btn-sm btn-outline-secondary">Sil</a>
                                </div>
                                <small class="text-muted">Polikinlik adı</small>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

