@model HospitalClient.ViewModels.AppointmentViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hastane Randevu Formu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <h2>Randevu Formu</h2>
        <form asp-controller="Appointment" asp-action="Create" method="post">
            <div class="form-group">
                <label for="selectedClinic">Klinik Seçin:</label>
                @{
                    SelectList clinicList;
                    if (Model.Clinics != null)
                    {
                        clinicList = new SelectList(Model.Clinics, "Id", "Name");
                    }
                    else
                    {
                        clinicList = new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text");
                    }
                }
                @Html.DropDownListFor(model => model.SelectedClinicId, clinicList, "Klinik", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="selectedHospital">Hastane Seçin:</label>
                @{
                    SelectList hospitalList;
                    if (Model.Hospitals != null)
                    {
                        hospitalList = new SelectList(Model.Hospitals, "Id", "Name");
                    }
                    else
                    {
                        hospitalList = new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text");
                    }
                }
                @Html.DropDownListFor(model => model.SelectedHospitalId, hospitalList, "Hastane", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="selectedDoctor">Doktor Seçin:</label>
                @{
                    SelectList doctorList;
                    if (Model.Doctors != null)
                    {
                        doctorList = new SelectList(Model.Doctors, "Id", "Name");
                    }
                    else
                    {
                        doctorList = new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text");
                    }
                }
                @Html.DropDownListFor(model => model.SelectedDoctorId, doctorList, "Doktor", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Date">Randevu Tarihi:</label>
                <input type="datetime-local" class="form-control" id="Date" name="Date" step="3600">
            </div>
            
            @{
                if(Model.Doctors != null)
                {
                    <button type="submit" class="btn btn-primary">Randevu Al</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Devam Et</button>
                }
            }
            
        </form>
    </div>

</body>
</html>
