@model HospitalClient.ViewModels.DoctorViewModel

<form method="post" asp-controller="Doctor" asp-action="EditResponse">
    <input asp-for="Id" type="hidden" />

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="selectedHospital">Select a Hospital:</label>
        @Html.DropDownListFor(model => model.SelectedHospitalId, new SelectList(Model.Hospitals, "Id", "Name"), "Select a Hospital", new { @class = "form-control" })
    </div>

    <input type="hidden" name="_method" value="put" />
    <button type="submit" class="btn btn-primary">Update</button>
</form>
